/* ===========================
   Variables globales
=========================== */

:root {
    /* Colores principales de la interfaz */
    --primary-color: #88e4e3;
    --secondary-color: #4b908f;
    --accent-color: #202932;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    /* Colores específicos de los botones */
    --button-hover-bg: #3a7f77;
    --button-hover-color: white;
    /* Colores de la tabla */
    --table-border-color: #28333f;
    --table-even-bg: #242e39;
    --table-odd-bg: #5BB9B8;
    /* Colores de los enlaces */
    --link-color: #3b7d76;
    --link-hover-color: rgb(253, 166, 5);
    /* Fuentes */
    --font-header: 'LEMONMILK', sans-serif;
    --font-body: 'Lato', sans-serif;
    /* Transiciones */
    --transition-speed: 0.3s;
    --transition-ease: ease;
}


/* ===========================
   Fuentes personalizadas
=========================== */

@font-face {
    font-family: 'LEMONMILK';
    src: url('/fonts/LEMONMILK-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


/* ========================= 
   Estilos globales
=========================== */

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: var(--font-body);
}

* {
    box-sizing: border-box;
}


/* =========================
   Estilos de contenedores
=========================== */

#contenedorP {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    margin: 20px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: var(--shadow-color) 5px 5px 20px 5px;
}

#contenedorH {
    width: 300px;
    height: 350px;
}

.button {
    margin-top: 20px;
    line-height: 1;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--text-color);
    padding: 8px;
    font-family: var(--font-header);
    background-color: var(--secondary-color);
    transition: background-color var(--transition-speed) var(--transition-ease), transform var(--transition-speed) var(--transition-ease);
    border: 1px solid #24544e;
}

.button:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
    color: var(--button-hover-color);
}


/* =========================
   Estilos tipográficos
=========================== */

h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: var(--font-header);
    text-align: center;
    font-weight: 300;
    color: var(--accent-color);
    font-size: 40px;
    text-shadow: 2px 2px 4px var(--shadow-color);
}

label {
    font-family: var(--font-header);
    margin-right: 10px;
}

#estado {
    margin-right: 10px;
    background-color: var(--button-bg);
    border: 1px solid #24544e;
    color: var(--text-color);
    font: var(--font-header);
    border-radius: 5px;
    font-size: 20px;
    height: 33px;
    margin-top: 20px;
}

#estado option {
    font: var(--font-header);
    font-size: 20px;
    background-color: var(--button-bg);
    color: black;
}

#estacion {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin: 5px 0;
    font-size: 20px;
    font-family: var(--font-header);
}

span {
    font-size: 20px;
    display: inline-block;
    text-align: right;
    margin-left: auto;
}

strong {
    font-size: 20px;
    font-weight: 100;
    color: var(--text-color);
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}