* {
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

body {
    padding: 20px;
    background-color: #88e4e3;
    line-height: 1.6;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-weight: 300;
    color: #202932;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: #37414b 5px 5px 25px;
}

td,
th {
    display: table-cell;
    border: 1px solid #28333f;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #202932;
    color: #fff;
    font-weight: 700;
}

tr:nth-child(2n+2) td {
    background-color: #242e39;
}

tr:nth-child(2n+1) td {
    background-color: #5BB9B8;
}

.button {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    background-color: #4b908f;
}

#pagination {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#pagination ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.num {
    text-align: right;
}

.letra {
    text-align: left;
}

#ficha {
    text-align: center;
}